// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$text-white: #fff;
$heading: #2B2B2B;
$color-one: #92c3f0;
$color-two: #233650;
$color-three:#233650;
$color-four: #92c3f0;
$color-five: #0E3E2F;
// $color-six: #DFFF5E;
$color-six: #92c3f0;
// $color-seven: #044F3B;
$color-seven: #233650;
$color-eight: #233650;
// $color-eight: #1F5E59;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
